langchain
langchain-core
langchain-community
langchain-openai
langgraph
langchain-groq

python-dotenv
pydantic

chromadb
sentence-transformers
langchain-huggingface

pypdf
beautifulsoup4
requests

tavily-python

fastapi
uvicorn

streamlit

pandas
numpy